<div th:fragment="employees">
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Hourly rate</th>
      <th>Change rate</th>
    </tr>
  </thead>
  <tbody>
    <tr data-th-each="employee : ${employees}">
      <td data-th-text="${employee.persid}">96</td>
      <td data-th-text="${employee.name}">Happy Coder</td>
      <td data-th-text="${employee.hourlyrate}">3.75</td>
      <td><form method="post" th:action="@{/newrate}">
	      <input name="persid" id="persid" th:value="${employee.persid}" type="hidden" />
  	      <input name="rate" id="rate" />
          <button type="submit" name="submit" value="set" class="link-button"></button>
      </form></td>
    </tr>
  </tbody>
  </table>
</div>