<div th:fragment="employees">
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Hourly rate</th>
      <th>Change rate</th>
    </tr>
  </thead>
  <tbody>
    <tr data-th-each="employee : ${employees}">
      <td data-th-text="${employee.persid}">...</td>
      <td data-th-text="${employee.name}">...</td>
      <td data-th-text="${employee.hourlyrate}">...</td>
      <td><form action="/newRate" method="post"><input type="text" name="rate"/><input type="hidden" name="persid" th:value="${employee.persid}" /></form></td>
    </tr>
  </tbody>
  </table>
</div>