  <head th:fragment="header">

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="janmg">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#17262F" />

    <title>Salary Application</title>
    <link rel="stylesheet" type="text/css" href="../static/css/Layout.css" th:href="@{/css/custom.css}" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">

  </head>
