<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Salary Timesheet</title>
        <!-- https://www.w3schools.com/w3css/tryw3css_templates_blog.htm -->
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    </head>

    <body>
        <h1>Salary Timesheet</h1>
        <table>
		    <tr data-th-each="entry : ${entries}">
		        <td data-th-text="${entry.persid}">...</td>
		        <td data-th-text="${entry.name}">...</td>
				<td data-th-text="${entry.date}">...</td>
				<td data-th-text="${entry.start}">...</td>
				<td data-th-text="${entry.end}">...</td>
		    </tr>
		</table>
    </body>
</html>